<h1>All avaliable coupons</h1>

<table class=table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Category</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coupon of coupons">
            <td>{{coupon.title}}</td>
            <td>{{coupon.description}}</td>
            <td>{{coupon.startDate}}</td>
            <td>{{coupon.endDate}}</td>
            <td>{{coupon.category}}</td>
            <td>{{coupon.image}}</td>

            <td>
                <button (click)="purchaseCoupon(coupon.id)">Purchase</button>
            </td>

        </tr>
    </tbody>
</table>