<h1>Coupon {{coupon.title}} </h1>

<table class=table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Category</th>
            <th>UID</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{coupon.id}}</td>
            <td>{{coupon.title}}</td>
            <td>{{coupon.description}}</td>
            <td>{{coupon.startDate}}</td>
            <td>{{coupon.endDate}}</td>
            <td>{{coupon.amount}}</td>
            <td>{{coupon.price}}</td>
            <td>{{coupon.category}}</td>
            <td>{{coupon.uid}}</td>


        </tr>
    </tbody>
</table>

<div class="menu">
    <h2>What do you want to change?</h2>
    <br>
    <div class="innerMenu">
        <input type="text" minlength="1" [(ngModel)]="ucoupon.title" placeholder="Title">
        <input type="text" [(ngModel)]="ucoupon.description" placeholder="Description">Start Date
        <input class="input" type="date" [(ngModel)]="ucoupon.startDate">End Date
        <input class="input" type="date" min="{{ucoupon.startDate}}" [(ngModel)]="ucoupon.endDate">
        <input type="number" min="0" [(ngModel)]="ucoupon.amount" placeholder="Amount">
        <input type="number" min="0" [(ngModel)]="ucoupon.price" placeholder="Price">
        <input type="text" [(ngModel)]="ucoupon.image" placeholder="Image">
        <select class="dropdownlist" [(ngModel)]="ucoupon.category">
            <option [ngValue]="undefined"  disabled selected>Category</option>
            <option value="Food">Food</option>
            <option value="Electricity">Electricity</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Vacation">Vacation</option>
        </select><br>
        <button class="outer-btn-add" (click)="updateCoupon()">Submit</button>
        <button class="outer-btn-clr" (click)="clear()">Clear</button>
    </div>
</div>