<h1>Company {{company.name}} </h1>

<table class=table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>UID</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.email}}</td>
            <td>{{company.password}}</td>
            <td>{{company.uid}}</td>
            
            

        </tr>
    </tbody>
</table>
<br>
<br>
<h1>Coupons</h1>

<table class=table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Category</th>
            <th>UID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coupon of company.coupons">
            <td>{{coupon.id}}</td>
            <td>{{coupon.title}}</td>
            <td>{{coupon.description}}</td>
            <td>{{coupon.startDate}}</td>
            <td>{{coupon.endDate}}</td>
            <td>{{coupon.amount}}</td>
            <td>{{coupon.price}}</td>
            <td>{{coupon.category}}</td>
            <td>{{coupon.uid}}</td>
            

        </tr>
    </tbody>
</table>
