<h1>Company {{company.name}} </h1>

<table class=table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>UID</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.email}}</td>
            <td>{{company.password}}</td>
            <td>{{company.uid}}</td>



        </tr>
    </tbody>
</table>
<br>
<br>

<h2>What do you want to change?</h2>
<br>
<input type="text" [(ngModel)]="ucompany.name" placeholder="Company Name">
<input type="email" [(ngModel)]="ucompany.email" placeholder="Email">
<input type="password" [(ngModel)]="ucompany.password" placeholder="Password">
<input type="password" [(ngModel)]="rpassword" placeholder="Repeat Password"><br>
<button class="outer-btn-add" (click)="updateCompany()">Submit</button>
<button class="outer-btn-clr" (click)="clear()">Clear</button>