<h1>Access level:</h1><br>
<h1>Company</h1>
<br>
<div class="sideMenu">
    <ul>
        <li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['addCoupon']}}]">Add
                Coupon</button></li>

 
<li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['getAllCoupons']}}]">Get All
                Coupons</button></li>


<li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['updateCompanyCommon',id]}}]">View and change company details
                </button></li>

    </ul>
</div>