<h1>All coupons</h1>

<h2>Search by</h2>
<input type="number" min="0" [(ngModel)]="price" placeholder="Price"><br>
<select class="dropdownlist"  [(ngModel)]="category">
    <option [ngValue]="undefined"  disabled selected>Category</option>
    <option value="Food">Food</option>
    <option value="Electricity">Electricity</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Vacation">Vacation</option>
</select><br>
<button (click)="findCoupons()">Find</button>
<button (click)="clear()">Clear</button>
<table class=table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Category</th>
            <th>UID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coupon of coupons">
            <td>{{coupon.id}}</td>
            <td>{{coupon.title}}</td>
            <td>{{coupon.description}}</td>
            <td>{{coupon.startDate}}</td>
            <td>{{coupon.endDate}}</td>
            <td>{{coupon.amount}}</td>
            <td>{{coupon.price}}</td>
            <td>{{coupon.category}}</td>
            <td>{{coupon.uid}}</td>
            <td>
                <button>Update</button>
                <button (click) = "deleteCoupon(coupon.id)">Delete</button>
            </td>

        </tr>
    </tbody>
</table>