<h1>Welcome, Admin</h1>
<br>
<div class="sideMenu">
    <ul>
        <li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['addCompany']}}]">Add
                Company</button></li>

 <!-- <li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['updateCompany']}}]">Update
                Company</button></li> -->

<!-- <li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['deleteCompany']}}]">Delete
                Company</button></li> -->
                
<li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['getAllCompanies']}}]">Get All
                Companies</button></li>

<li class=line1> <button class="menu-btn" [routerLink]="['', { outlets: { middle: ['findCompany']}}]">Find
                Company</button></li>

<li class=line1><button class="menu-btn" [routerLink]="['', { outlets: { middle: ['addCustomer']}}]">Add Customer</button></li>

<!-- <li class=line1><button class="menu-btn" [routerLink]="['', { outlets: { middle: ['updateCustomer']}}]">Update Customer</button></li>

<li class=line1><button class="menu-btn" [routerLink]="['', { outlets: { middle: ['deleteCustomer']}}]">Delete Customer</button></li> -->

<li class=line1><button class="menu-btn" [routerLink]="['', { outlets: { middle: ['getAllCustomers']}}]">Get All Customers</button></li>

<li class=line1><button class="menu-btn" [routerLink]="['', { outlets: { middle: ['findCustomer']}}]">Find Customer</button></li>

<li class=line1><button class="menu-btn" [routerLink]="['', { outlets: { middle: ['deleteOutdatedCoupons']}}]">Delete Outdated Coupons</button></li>
    </ul>
</div>

<!-- <ul>

    <li class=line1> <a [routerLink]="['', { outlets: { middle: ['addCompany']}}]">Add new company</a></li>
    <li class=line2> <a [routerLink]="['', { outlets: { middle: ['addCustomer']}}]">Add new customer</a></li>
</ul> -->
<!-- <div class="square"></div> -->