<h1>All companies</h1>

<h2>Search by</h2>
<input class="input" type="number" min="0" [(ngModel)]="id" placeholder="ID">

<input class="input" type="text" [(ngModel)]="name" placeholder="Company Name">

<input class="input" type="email" [(ngModel)]="email" placeholder="Email">

<input class="input" type="text" [(ngModel)]="uid" placeholder="UID"><br>

<button class="outer-btn-add" (click)="findCompany()">Find</button>
<button class="outer-btn-clr" (click)="clear()">Clear</button>



<table class=table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>UID</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.email}}</td>
            <td>{{company.password}}</td>
            <td>{{company.uid}}</td>
            <td>
                <button class="outer-btn-upd" (click)="updateCompany(company.id)">Update</button>
                <button class="outer-btn-add" (click)="companyInfo(company.id)">Details</button>
                <button class="outer-btn-clr" (click)="deleteCompany(company.id)">Delete</button>
            </td>

        </tr>
    </tbody>
</table>