<h1>All companies</h1>

<h2>Search by</h2>
<input type="number" min="0" [(ngModel)]="id" placeholder="ID">
<input type="text" [(ngModel)]="name" placeholder="Company Name">
<input type="email" [(ngModel)]="email" placeholder="Email">
<input type="text" [(ngModel)]="uid" placeholder="UID">
<button (click)="findCompany()">Find</button>
<button (click)="clear()">Clear</button>



<table class=table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>UID</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.email}}</td>
            <td>{{company.password}}</td>
            <td>{{company.uid}}</td>
            <td>
                <button (click)="updateCompany(company.id)">Update</button>

                <button (click)="companyInfo(company.id)">Details</button>
                <button (click)="deleteCompany(company.id)">Delete</button>
            </td>

        </tr>
    </tbody>
</table>